:root {
    --shadow: rgba(0, 0, 0, 0.65);
    --light-brown: rgb(168, 138, 99);
    --brown: rgb(92, 74, 51);
    --white: rgb(232, 233, 221);
    --transparent: rgba(255, 255, 255, 0.1);
    --blue: rgb(79, 62, 233);
}

body {
    padding-top: 60px;
    background: rgb(80,80,100);
    background: linear-gradient(140deg, rgba(80,80,100,1) 0%, rgba(0,0,50,1) 50%, rgba(0,0,36,1) 100%);
}

.nav {
    flex: 1;
    position: fixed;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111111;
}



.main-container {
    background-color: white;
}

.mainitem {
    color: darkmagenta;
    background-color: white;
    border: 5px solid violet;
    scroll-padding-top: 60px;
    padding: 20px;
    margin: 20px;
}

.mainitem h2 {
    text-align: center;
}

.portfoliocardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfoliocard {
    background-color: rgb(131, 0, 0);
    color: white;
    border: 5px solid violet;
    width: 300px;
    padding: 10px;
    margin: 10px;
    
    
}

.portfoliocard:hover {
    border: 5px solid blue;

}

.block-title {
    text-align: center;
    color: red;
}
