html {
    /* scroll-padding-top: 60px */
}

body {
    /* margin-top: 60px;
    scroll-padding-top: 60px; */
    background: rgb(80,80,100);
    background: linear-gradient(140deg, rgba(80,80,100,1) 0%, rgba(0,0,50,1) 50%, rgba(0,0,36,1) 100%);
    background-attachment: fixed;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.nav {
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111111;
}

.mainitem {
    color: white;
    background: rgb(255, 255, 255, 0.15);
    padding: 20px;
    margin: 20px;
    z-index: 3;
}

.mainitem h2 {
    text-align: center;
}

.mainitem-2 {
    opacity: 1;
    color: white;
    /* background: rgb(0,88,176);
    background: linear-gradient(140deg, rgba(0,88,176,1) 0%, rgba(0,0,128,1) 50%, rgba(0,0,32,1) 100%); */
    padding: 20px;
    margin: 20px;
    z-index: 3;
}

.mainitem-2 h2 {
    text-align: center;
}

/* desktop view */
@media only screen and (min-width: 992px) {
    #about {
        height: 88vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }  

    .about-images {
        width: 35%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-text {
        padding: 10px;
        width: 45%
    }
    
    #portrait {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        padding: 10px
    }

    .thumbnail {
        display: block;
        width: 50px;
        height: auto;
        padding: 10px
    }

    .thumbnail:hover {
        transform: scale(1.1)
    }
}

/* mobile view */
@media only screen and (max-width: 991px) {
    #about {
        height: 88vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }  

    .about-images {
        width: 65%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-text {
        width: 75%;
        padding: 10px;
    }
    
    #portrait {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        padding: 10px
    }

    .thumbnail {
        display: block;
        width: 25px;
        height: auto;
        padding: 10px;
        transition: all .2s ease-in-out;
    }

    .thumbnail:hover {
        transform: scale(1.1);
    }
}

#skills li {
    font-size: 22px;
}

.portfoliocardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfoliocard {
    background: rgb(255, 255, 255, 0.15);
    color: white;
    /* border: 5px solid white; */
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.portfoliocard h4 {
    text-align: center;
}

.portfoliocard:hover {
    transform: scale(1.05)
}

#close-button {
    top: 0;
    right: 0;
    position: fixed;
    display: block;
    width: 25px;
    height: auto;
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

#close-button:hover {
    transform: scale(1.1)
}

#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* desktop */
@media only screen and (min-width: 992px) {
    .bigportfoliocard {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 80%;
        max-width: 80%;
        background: rgb(80,80,100);
        background: linear-gradient(140deg, rgba(80,80,100,1) 0%, rgba(0,0,50,1) 50%, rgba(0,0,36,1) 100%);
        color: white;
        border: 5px solid white;
        border-radius: 10px;
        padding: 50px;
        overflow: scroll;
        z-index: 1000;
    }
    
    .bigportfoliocard img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* mobile */
@media only screen and (max-width: 991px) {
    .bigportfoliocard {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 80%;
        max-width: 80%;
        background: rgb(80,80,100);
        background: linear-gradient(140deg, rgba(80,80,100,1) 0%, rgba(0,0,50,1) 50%, rgba(0,0,36,1) 100%);
        color: white;
        border: 5px solid white;
        border-radius: 10px;
        padding: 50px;
        overflow: scroll;
        z-index: 1000;
    }
    
    .bigportfoliocard img{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.bigportfoliocard h4 {
    text-align: center;
}

.bigportfoliocard li {
    padding: 10px;
    margin: 10px;
}

.ffvii {
    color: white;
    background: rgb(0,88,176);
    background: linear-gradient(140deg, rgba(0,88,176,1) 0%, rgba(0,0,128,1) 50%, rgba(0,0,32,1) 100%);
    border-radius: 10px;
    border: 5px solid white;
}